source https://api.nuget.org/v3/index.json

nuget FSharp.Core redirects: force

group Build
  source https://api.nuget.org/v3/index.json
  
  nuget SourceLink.Fake
  nuget FAKE
  nuget FSharp.Formatting

  github fsharp/FAKE modules/Octokit/Octokit.fsx

  source https://api.nuget.org/v3/index.json

group Test
  source https://api.nuget.org/v3/index.json

  nuget FsCheck.Xunit
  nuget Unquote
  nuget xunit
